asn1crypto==0.24.0
backports-abc==0.5
backports.functools-lru-cache==1.5
boto3==1.9.169
botocore==1.12.169
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
cycler==0.10.0
docutils==0.14
enum34==1.1.6
functools32==3.2.3.post2
futures==3.2.0
idna==2.6
ipaddress==1.0.22
jmespath==0.9.4
kiwisolver==1.0.1
matplotlib==2.2.2
mkl-fft==1.0.0
mkl-random==1.0.1
nltk==3.2.5
numpy==1.14.2
olefile==0.45.1
Pillow==5.0.0
psutil==5.4.3
pycparser==2.18
pyOpenSSL==17.5.0
pyparsing==2.2.0
PySocks==1.6.8
python-dateutil==2.7.2
pytorch-pretrained-bert==0.6.2
pytz==2018.4
PyYAML==3.12
regex==2019.6.8
requests==2.18.4
s3transfer==0.2.1
scipy==1.0.1
singledispatch==3.4.0.3
six==1.11.0
subprocess32==3.2.7
torch==1.0.0
torchvision==0.1.9
tornado==5.0.2
tqdm==4.19.8
urllib3==1.22
